.titulo {
    font-size: 25px;
    font-weight: bold;
    font-family: Verdana, sans-serif;
    letter-spacing: 4px;
    border-bottom: 2px solid red;
    background-color: yellow;
    color: darkgreen;
}

.paragrafo {
    background-color: #d3d3d3;
    font-size: 18px;
    color: green;
    line-height: 2;
    font-style: italic;
    font-family: Tahoma, sans-serif;
    text-align: center;
}