<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <title>Layout utilizando HTML 5</title>
</head>
<body>
    <header>
        <h1>Instituto Federal do Triângulo Mineiro</h1>
        <nav>
            <ul>
                <li><a href="">Institucional</a></li>
                <li><a href="">Campi</a></li>
                <li><a href="">Sobre nós</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            <h2>Uberlândia Centro</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis unde reiciendis mollitia minima est, aut omnis harum vitae eum doloremque veritatis quibusdam, impedit nihil temporibus, cupiditate ducimus pariatur aperiam molestias.
            Similique dolor porro tenetur enim culpa expedita velit cumque tempore dolorum veritatis maxime molestiae excepturi maiores, libero fugiat voluptate sed saepe. Deleniti distinctio officia cupiditate ratione minima consequatur delectus itaque!</p>
            <img src="img/iftm.jpg" alt="">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nisi, dignissimos, cum dolor sequi libero laborum eligendi neque ratione magnam tempora officiis, harum quo voluptate consequatur odio. Eaque dolor beatae dignissimos.
            Omnis eos eius exercitationem incidunt delectus, numquam quos animi sed ea in placeat cumque? Itaque distinctio, dolor obcaecati, ratione consectetur quam laborum vero recusandae modi nesciunt maxime deserunt beatae nostrum!</p>
            <ul>
                <li>Ensino</li>
                <li>Pesquisa</li>
                <li>Extensão</li>
                <li>Outras atividades</li>
            </ul>
        </section>

        <section>
            <h2>Ituiutaba</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis illum natus nemo dolor minima veniam tenetur obcaecati perspiciatis adipisci ipsam deserunt, dicta consequuntur placeat! Rem fugiat corrupti sapiente cupiditate voluptatibus?
            Unde cum consequuntur ut vitae dolorem quod voluptatum ab, porro eveniet iusto quas, amet labore veritatis explicabo ad non sapiente maiores? Corrupti quis repudiandae facilis cupiditate adipisci suscipit, modi ipsam!</p>
            
            <img src="img/iftm2.jpg" alt="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Esse provident cum quas laudantium ratione nisi obcaecati consectetur minus libero, at voluptatum nihil corrupti a tempora rem quia fugit harum exercitationem.
            Amet atque facere labore, alias quis consectetur sint consequuntur fugit ea, dignissimos quam at culpa! Quos saepe debitis, possimus odio placeat praesentium officia minus, quam deserunt in totam eligendi suscipit?
            Consequatur excepturi quas similique, assumenda quam repellat, corrupti laudantium sequi sit debitis ipsum. Voluptatem sit quam harum iste repellendus voluptatibus eius ea sequi, officia nulla, expedita ipsum iure amet autem? corrupti laudantium sequi sit debitis ipsum. Voluptatem sit quam harum iste repellendus voluptatibus eius ea sequi, officia nulla, expedita ipsum iure amet autem?</p>
        </section>

        <section>
            <h2>Patos de Minas</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex ipsa animi fugiat aut modi laudantium expedita porro eligendi voluptate itaque, enim labore quod sunt, repellendus accusamus, ducimus obcaecati quibusdam quidem!
            Culpa pariatur consectetur aliquam! Sit ex tenetur voluptates neque, deserunt nemo aliquam iste deleniti, reprehenderit officiis debitis, expedita perferendis nulla laboriosam eos praesentium. Architecto laborum modi eaque. Molestiae, provident adipisci?</p>
            <img src="img/iftm3.jpg" alt="">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officia necessitatibus itaque praesentium deserunt quod ratione aut distinctio molestiae explicabo omnis accusamus, dolores ullam tempore dignissimos quasi excepturi, quam vel culpa?
            Est temporibus id quasi, cum voluptatum eos asperiores distinctio harum vitae corporis quaerat aspernatur nobis tempora earum adipisci delectus. Sit officiis sapiente aspernatur? Accusantium tenetur expedita cupiditate ut laboriosam natus!</p>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Animi id quia officiis tempora amet neque porro quam earum debitis? Ab quisquam maiores quae voluptate facere debitis aperiam qui laudantium amet.
            Iste cupiditate ex pariatur ab, dolores commodi aspernatur dolor quis sequi provident exercitationem deleniti aliquid mollitia distinctio possimus aliquam sed asperiores aut voluptas quasi ducimus vitae deserunt, veritatis quo? Iste.</p>
            <p><a href="#">Voltar ao topo</a></p>
        </section>

        <footer>
            <p>Rodapé da página</p>
        </footer>
    </main>
</body>
</html>