<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Document</title>
</head>
<body>

    <header>
        <h1>WIFI - Um pouco sobre TUDO</h1>
        <nav>
            <ul>
                <li><a href="">Opção 1</a></li>
                <li><a href="">Opção 2</a></li>
                <li><a href="">Opção 3</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <section>
            <h2>Esportes</h2>
            <article>
                <h3>Campeonato Brasileiro</h3>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsa, animi. Eum explicabo ratione optio quaerat labore voluptatem culpa eveniet consequuntur illum. Sapiente molestias facere dolorem corrupti beatae excepturi ex possimus.
                Repudiandae fuga sunt aspernatur. Sint beatae porro molestiae distinctio explicabo sed nisi odit ex quas totam temporibus voluptatum voluptatem dolorem esse obcaecati, nam fugit! Molestias libero laborum quas quo quia?</p>
                
                <p>Quos provident, excepturi ipsa unde molestias nesciunt numquam nulla dignissimos beatae tempore saepe ea magni corrupti officia cum consequuntur illo quidem fuga possimus! Dolorem blanditiis voluptatum laboriosam facilis magnam ipsam.
                Dolorum nesciunt accusamus vel nobis. Reprehenderit voluptas, deleniti placeat modi sint sunt, quos molestias maiores dolore magnam nam vero facilis. Maxime modi asperiores eos enim eum repudiandae, commodi dicta recusandae!
                Consequatur maiores, eveniet doloribus corrupti temporibus, quaerat vel praesentium, excepturi reiciendis labore odit nam libero quam velit? Aut deserunt ab reiciendis perspiciatis voluptatibus ad. Nisi nemo dicta quod voluptas laboriosam?</p>
                <p><b>Autor: </b> Fulano de tal</p>
            </article>
            <article>
                <h3>Olimpíadas</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae, quam? Enim, consectetur similique! Obcaecati numquam, sit dolor sunt totam odio natus blanditiis molestias, excepturi, illo aliquam provident delectus officiis consequuntur!
                Suscipit totam, beatae ducimus, rem consequatur ipsa modi, dolorem iste voluptatum commodi quam voluptate earum atque nam accusantium necessitatibus cum eos eaque sed harum possimus adipisci quae? Autem, illum non.
                Quod molestiae commodi consequatur voluptates perspiciatis. Autem accusamus facilis ipsum esse eligendi accusantium hic, rem consequatur ullam repudiandae quidem quisquam mollitia ipsam nam nobis. Sequi et maxime repellat mollitia totam.</p>
                <p>
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi optio id veritatis, assumenda nulla quisquam eos odit. Minima sit corporis temporibus repellat. Sunt nostrum ullam distinctio nihil, minus pariatur reiciendis.
                Maiores sapiente est velit dolores in delectus sequi deserunt hic deleniti non illum animi quis veniam fugiat ipsum alias ut perspiciatis vitae repudiandae, nam tempora numquam. Voluptas consequatur veritatis expedita.
                </p>
                <p><b>Autor: </b> Fulano de tal</p>
            </article>
        </section>
        
        <section>
            <h2>Notícias</h2>
            <article>
                <h3>Do Brasil</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam iusto, enim vel eius id commodi, consequatur voluptates atque quod asperiores porro reprehenderit inventore culpa excepturi, sapiente maiores numquam nesciunt voluptate.
                Distinctio officia aperiam eveniet recusandae mollitia veritatis placeat odit magnam exercitationem omnis ex molestias dolores repellendus facere facilis delectus, animi labore aliquid minima est! Error voluptatibus omnis ea laboriosam non!
                Explicabo quae, totam enim nemo, voluptas vitae similique eum assumenda aspernatur maxime deserunt corrupti alias id atque labore nisi voluptatum ab ipsum consequuntur officia fuga sint earum! Sed, tempore dolores!</p>
                <p><b>Autor: </b> Fulano de tal</p>
            </article>
            <article>
                <h3>Do Mundo</h3>
                <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex consequatur dignissimos nemo laborum. Fuga totam laudantium vel veniam, unde quisquam harum nihil nulla, maxime non, nisi reprehenderit adipisci iure atque?
                Velit doloremque corporis obcaecati ad animi molestias perspiciatis voluptates inventore repellat minus nemo dolore culpa doloribus quos mollitia, optio veniam eligendi praesentium modi quaerat! Ipsa laudantium odit voluptatibus nihil autem.
                Corrupti voluptate facilis eligendi? Veritatis aperiam voluptate quidem, ab labore corrupti sequi id? Voluptatum aliquam distinctio similique, eum eveniet culpa at, iure maxime voluptas dolores nisi doloremque exercitationem sunt accusamus!
                </p>
                <p><b>Autor: </b> Fulano de tal</p>
            </article>
        </section>
    </main>

    <footer>
        <p>Rodapé da Página</p>
    </footer>

</body>
</html>