<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>SNCT 2020</title>
</head>
<body>

<header>
    <table>
        <tr>
            <td>
                <img src="img/logoIFTM.jpg">
            </td>
            <td>
                <h1>Instituto Federal de Educação, Ciência e Tecnologia</h1>
                <p>Ensino Gratuito e de Qualidade</p>
            </td>
        </tr>
    </table>

    <nav>
        <ul>
            <li><a href="">Início</a></li>
            <li><a href="">Programação</a></li>
            <li><a href="">Inscreva-se</a></li>
            <li><a href="">Localização</a></li>
            <li><a href="">Certificados</a></li>
            <li><a href="">Fotos</a></li>
            <li><a href="">Sarau</a></li>
            <li><a href="">Feira</a></li>
            <li><a href="">Organização</a></li>
        </ul>
    </nav>
</header>

<main>

<section>
    <h2>Sobre o curso de Sistemas para Internet</h2>

    <p>
        O IFTM é uma instituição de ensino superior, básico e profissional, especializada na oferta de educação profissional técnica e tecnológica, cujos fundamentos políticos-pedagógicos convergem para a formação profissional e humana do indivíduo.
    </p>

    <img src="img/fotoIFTM.jpg" alt="">
    <p>
        O curso de <strong>Tecnologia em Sistemas para Internet</strong> possui como objetivo geral formar tecnólogos em 
        <a href="https://iftm.edu.br" target="_blank">Sistemas para Internet</a> propiciando <u>conhecimentos 
        teóricos e práticos</u> com vistas à formação integral, por meio do estudo técnico-científico e da reflexão crítica acerca dos aspectos 
        <span style="color:red;"><strong>humanos, éticos e cidadãos</strong></span>, de modo a atender com excelência às demandas do arranjo produtivo da região.
    </p>

    <h3>Outros cursos oferecidos pelo IFTM:</h3>
    <ul>
        <li>Tecnologia em Marketing <i>(duração: 2,5 anos)</i></li>
        <li>Licenciatura em Computação <i>(duração: 4 anos)</i></li>
        <li>Logística <i>(duração: 2,5 anos)</i></li>
    </ul>

    <br>
    <br>
    <br>
     <p>Os princípios educacionais que estruturam os trabalhos didáticos e pedagógicos do IFTM estão intimamente relacionados aos propósitos nos quais se fundamentam a criação dos Institutos Federais de Educação, Ciência e Tecnologia, ou seja, o de promover o ensino, a pesquisa e a extensão a partir de temas e problemas relacionados à educação tecnológica, ao trabalho, à ciência e a formação técnica e profissional do indivíduo que atuará no mundo do trabalho. Em sintonia com essa finalidade e reconhecendo o papel do IFTM Campus Uberlândia Centro como agente do desenvolvimento econômico local e regional, é que se oferta o curso Técnico em Desenvolvimento de Sistemas integrado ao ensino médio no município de Uberlândia.</p>
     <details>
        <summary>Conheça mais sobre o IFTM</summary>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque iste vel, temporibus ut dolorum dolorem explicabo impedit quasi, soluta, sunt non ratione aut earum! Similique fugit deserunt sint soluta labore.
        Cupiditate adipisci necessitatibus odit modi tempore veritatis nobis pariatur quam, recusandae perferendis nostrum in quaerat atque, illum quisquam reiciendis. Impedit deserunt explicabo eius eos debitis similique consequatur error voluptatum tenetur.
        Veniam, possimus? Quaerat a autem placeat nobis blanditiis obcaecati eaque iure voluptates repellat accusantium cupiditate soluta, ullam libero nostrum, perspiciatis hic aliquam odit, quos ut exercitationem unde repellendus! Excepturi, consequatur?</p>
     </details>
</section>

<section class="verde">
    <h2>Núcleo Docente Estruturante</h2>
    <p>
        É um órgão consultivo, formado por um conjunto de professores, mestres e doutores, que respondem diretamente pela criação, implantação, atualização e consolidação do Projeto Pedagógico do Curso de Tecnologia em Sistemas para Internet. O NDE é presidido pelo coordenador do curso cabendo a ele, dentre outras funções, convocar os membros para as reuniões e elaborar, a partir delas, os documentos referentes ao Núcleo.
    </p>
</section>

<section>
    <h2>Corpo Docente</h2>

    <table>
        <tr>
            <th>Corpo docente</th>
            <th>Disciplinas</th>
            <th>Projetos</th>
            <th>Perfil do egresso</th>
        </tr>
        <tr>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta excepturi quis rerum debitis sapiente sit reiciendis cumque similique dolores rem, laudantium quasi ratione! Voluptate debitis eligendi ea? Nemo, dolores.
            <details>
                <summary>Continue lendo</summary>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorem, quod nostrum ab perspiciatis ducimus vel natus. Reiciendis, error aliquam facilis praesentium vel harum ullam debitis, neque, facere dicta sequi.</p>
            </details>
            </td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta excepturi quis rerum debitis sapiente sit reiciendis cumque similique dolores rem, laudantium quasi ratione! Voluptate debitis eligendi ea? Nemo, dolores.
                <details>
                <summary>Continue lendo</summary>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorem, quod nostrum ab perspiciatis ducimus vel natus. Reiciendis, error aliquam facilis praesentium vel harum ullam debitis, neque, facere dicta sequi.</p>
                </details>
            </td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta excepturi quis rerum debitis sapiente sit reiciendis cumque similique dolores rem, laudantium quasi ratione! Voluptate debitis eligendi ea? Nemo, dolores.
                <details>
                <summary>Continue lendo</summary>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorem, quod nostrum ab perspiciatis ducimus vel natus. Reiciendis, error aliquam facilis praesentium vel harum ullam debitis, neque, facere dicta sequi.</p>
                </details>
            </td>
            <td>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta excepturi quis rerum debitis sapiente sit reiciendis cumque similique dolores rem, laudantium quasi ratione! Voluptate debitis eligendi ea? Nemo, dolores.
                <details>
                 <summary>Continue lendo</summary>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Commodi dolorem, quod nostrum ab perspiciatis ducimus vel natus. Reiciendis, error aliquam facilis praesentium vel harum ullam debitis, neque, facere dicta sequi.</p>
                </details>
            </td>
        </tr>
        <td>
            <p><a href="#">Conheça [+] (volta ao topo)</a></p>
        </td>
        <td>
            <p><a href="#">Conheça [+] (volta ao topo)</a></p>
        </td>
        <td>
            <p><a href="#">Conheça [+] (volta ao topo)</a></p>
        </td>
        <td>
            <p><a href="#">Conheça [+] (volta ao topo)</a></p>
        </td>
    </table>
</section>

<section class="verde">
    <h2>Aproveitamento de estudos</h2>
    <p>
        Conforme regulamento da Organização Didático-Pedagógica dos Cursos de Graduação do IFTM, o aproveitamento de estudos poderá ser feito nas unidades curriculares concluídas em curso de nível superior com aprovação em um prazo máximo de cinco anos imediatamente antecedentes à solicitação. A concessão do aproveitamento está condicionada à análise do processo, com base no parecer da Coordenação de Curso e do professor da disciplina, respeitado o mínimo de 75% de similaridade dos conteúdos e da carga horária da(s) unidade(s) do curso pretendido e demais critérios estabelecidos no citado regulamento.
    </p>
</section>

<section>
    <h2>Projetos de Ensino</h2>

    <form>
        <label>Nome do Estudante:</label><br>
        <input type="text"><br>

        <label>CPF:</label><br>
        <input type="text"><br>

        <label>Data de Nascimento:</label>
        <input type="date"><br>

        <label>Curso de Interesse:</label>
        <select>
            <option>Selecione um curso...</option>
            <option>Sistemas para Internet</option>
            <option>Computação</option>
        </select><br>

        <label>E-mail de Contato:</label>
        <input type="email"><br>

        <label>Escolaridade Atual:</label>
        <select>
            <option>Ensino Médio Completo</option>
            <option>Ensino Superior</option>
        </select><br>

        <button>Cadastrar</button>
        <button>Limpar</button>
    </form>
</section>

</main>

<footer>
    <table>
        <td>
            <ul>
                <li>Opcao 1</li>
                <li>Opcao 2</li>
                <li>Opcao 3</li>
                <li>Opcao 4</li>
                <li>Opcao 5</li>
                <li>Opcao 6</li>
                <li>Opcao 7</li>
                <li>Opcao 8</li>
            </ul>
        </td>
        <td>
            <img src="img/parceiros.jpg" alt="">
        </td>
    </table>
</footer>

</body>
</html>