<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/estilos.css">
    <title>Aprenda Web Design na Prática</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="">HTML</a></li>
                <li><a href="">CSS</a></li>
                <li><a href="">JavaScript</a></li>
            </ul>
        </nav>
        <img src="imagens/topo.png" alt="">
    </header>
    <main>
        <section>
            <h1>Aprendendo Web Design na Prática</h1>
            <h2>HTML5, CSS3 e JavaScript</h2>
        </section>
        <section>
            <table>
                <tr>
                    <td><img src="imagens/html5.png" alt="" width="50"></td>
                    <td><img src="imagens/css3.png" alt="" width="50"></td>
                    <td><img src="imagens/javascript.png" alt="" width="50"></td>
                </tr>
                <tr>
                    <td><h3>HTML5</h3></td>
                    <td><h3>CSS3</h3></td>
                    <td><h3>JavaScript</h3></td>
                </tr>
                <tr>
                    <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem nam reprehenderit cupiditate eum labore ipsum, voluptates voluptatibus esse laudantium delectus perferendis similique quaerat repudiandae! Cum aspernatur doloribus temporibus tempore.
                    Rerum est id dolorem perferendis facilis ab officia eos, a vel natus reiciendis exercitationem repellendus adipisci esse molestias assumenda ut minima nesciunt nobis vitae eum error ea. Ullam, dolorum inventore!</p></td>
                    <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem nam reprehenderit cupiditate eum labore ipsum, voluptates voluptatibus esse laudantium delectus perferendis similique quaerat repudiandae! Cum aspernatur doloribus temporibus tempore.
                    Rerum est id dolorem perferendis facilis ab officia eos, a vel natus reiciendis exercitationem repellendus adipisci esse molestias assumenda ut minima nesciunt nobis vitae eum error ea. Ullam, dolorum inventore!</p></td>
                    <td><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis exercitationem nam reprehenderit cupiditate eum labore ipsum, voluptates voluptatibus esse laudantium delectus perferendis similique quaerat repudiandae! Cum aspernatur doloribus temporibus tempore.
                    Rerum est id dolorem perferendis facilis ab officia eos, a vel natus reiciendis exercitationem repellendus adipisci esse molestias assumenda ut minima nesciunt nobis vitae eum error ea. Ullam, dolorum inventore!</p></td>
                </tr>
            </table>

        </section>
    </main>
    <footer></footer>
</body>
</html>